In [ ]:
# !cp -r /content/drive/MyDrive/ciscodata /content/convolve-epoch1

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import json
f = open('/content/convolve-epoch1/convolve-epoch1/train.json')
data = json.load(f)
f.close()
df = pd.DataFrame({'count': data})
df.reset_index(inplace = True)
df.columns = ['log', 'ans']

In [ ]:
dft = pd.read_csv('/content/convolve-epoch1/convolve-epoch1/test.csv')

In [ ]:
dft

            ID                                                Log
0            0   1124336301 2005.08.17 R13-M1-N8-C:J12-U01 200...
1            1   1118553175 2005.06.11 R30-M0-N9-C:J16-U01 200...
2            2   1118536033 2005.06.11 R30-M0-N9-C:J16-U01 200...
3            3   1117992566 2005.06.05 R30-M1-N6-C:J03-U11 200...
4            4   1118538965 2005.06.11 R30-M0-N9-C:J16-U01 200...
...        ...                                                ...
595295  595295   1118768234 2005.06.14 R20-M0-NA-C:J17-U11 200...
595296  595296   1118370947 2005.06.09 R15-M0-NA-C:J02-U01 200...
595297  595297   1118540242 2005.06.11 R30-M0-N9-C:J16-U01 200...
595298  595298   1118538947 2005.06.11 R30-M0-N9-C:J16-U01 200...
595299  595299   1118165805 2005.06.07 R23-M1-N5-C:J16-U11 200...

[595300 rows x 2 columns]

In [ ]:
import re

In [ ]:
s = "hello dear 1"
re.sub('[^a-zA-Z]+', ' ', s)

'hello dear '

In [ ]:
df['logf'] = df['log'].apply(lambda x:' '.join([x for x in re.sub('[^a-zA-Z]+', ' ', x).split(' ') if len(x)>1]))

In [ ]:
df['logf'].value_counts()

RAS KERNEL INFO generating core                                                                                 1053137
RAS KERNEL INFO double hummer alignment exceptions                                                               182027
RAS KERNEL INFO floating point alignment exceptions                                                              164014
RAS KERNEL INFO iar dear                                                                                         136789
NE NE RAS KERNEL INFO generating core                                                                            115704
                                                                                                                 ...
UNKNOWN LOCATION UNKNOWN LOCATION NULL DISCOVERY INFO Ido chip status changed FF CE BA ip status Tue Aug PDT          1
UNKNOWN LOCATION UNKNOWN LOCATION NULL DISCOVERY INFO Ido chip status changed FF EB CC ip status Tue Aug PDT          1
UNKNOWN LOCATION UNKNOWN LOCATION NULL DISCOVERY INFO Ido chip status changed FF DB CB ip status Tue Aug PDT          1
UNKNOWN LOCATION UNKNOWN LOCATION NULL DISCOVERY INFO Ido chip status changed FF ED AE ip status Tue Aug PDT          1
RAS KERNEL FATAL machine check interrupt bit DCU read error                                                           1
Name: logf, Length: 16481, dtype: int64

In [ ]:
dft['logf'] = dft[' Log'].apply(lambda x:' '.join([x for x in re.sub('[^a-zA-Z]+', ' ', x).split(' ') if len(x)>1]))

In [ ]:
dft['prd'] = np.nan

In [ ]:
ctr=0
for i in uniq:
  if(len(df[df['logf']==i]['ans'])==0):continue
  dft.loc[dft['logf']==i, 'prd'] = df[df['logf']==i]['ans'].iloc[0]
  print(ctr)
  ctr = ctr+1
  if(ctr==100):break

In [ ]:
remaining = dft[dft['prd'].isna()]['logf'].value_counts().reset_index()

In [ ]:
df.to_csv('./data.csv')

In [ ]:
dft.loc[dft['logf'].apply(lambda x:"RAS KERNEL FATAL data storage interrupt" in x), 'prd'] = "abnormal"

In [ ]:
len(dft[dft['prd'].isna()])

15274

In [ ]:
dft.loc[dft['prd'].isna(), 'prd']='abnormal'

In [ ]:
for i in dft[dft['prd'].isna()]['logf'].value_counts().reset_index().values:
  print(i)
  print(dft[dft['logf']==i[0]][' Log'].iloc[0])
  inp = input()
  dft.loc[dft['logf']==i[0], 'prd'] = "normal" if inp==1 else "abnormal"

['ND ND RAS KERNEL FATAL data storage interrupt' 3968]
 1118765205 2005.06.14 R17-M0-ND-C:J14-U11 2005-06-14-09.06.45.190402 R17-M0-ND-C:J14-U11 RAS KERNEL FATAL data storage interrupt

0
['NC NC RAS KERNEL FATAL rts kernel terminated for reason' 2831]
 1124173518 2005.08.15 R51-M1-NC-C:J12-U01 2005-08-15-23.25.18.439802 R51-M1-NC-C:J12-U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001

0
['RAS KERNEL FATAL rts kernel terminated for reason rts bad message header invalid cpu type cpu index total'
 2778]
 1121464479 2005.07.15 R05-M1-N0-C:J12-U11 2005-07-15-14.54.39.860456 R05-M1-N0-C:J12-U11 RAS KERNEL FATAL rts: kernel terminated for reason 1001rts: bad message header: invalid cpu, type=10144, cpu=127, index=0, total=0

0
['RAS APP FATAL ciod Error reading message prefix after LOAD MESSAGE on CioStream socket to Link has been severed'
 2605]
 1124584009 2005.08.20 R33-M1-N0-I:J18-U11 2005-08-20-17.26.49.496687 R33-M1-N0-I:J18-U11 RAS APP FATAL ciod: Error reading message prefix after LOAD_MESSAGE on CioStream socket to 172.16.96.116:35205: Link has been severed

0
['RAS APP FATAL ciod Error reading message prefix after LOGIN MESSAGE on CioStream socket to Link has been severed'
 1778]
 1124721991 2005.08.22 R45-M1-N8-I:J18-U11 2005-08-22-07.46.31.657739 R45-M1-N8-I:J18-U11 RAS APP FATAL ciod: Error reading message prefix after LOGIN_MESSAGE on CioStream socket to 172.16.96.116:56604: Link has been severed

0
['RAS APP FATAL ciod Error reading message prefix after VERSION MESSAGE on CioStream socket to Link has been severed'
 1536]
 1123916139 2005.08.12 R37-M1-N0-I:J18-U01 2005-08-12-23.55.39.385501 R37-M1-N0-I:J18-U01 RAS APP FATAL ciod: Error reading message prefix after VERSION_MESSAGE on CioStream socket to 172.16.96.116:53866: Link has been severed

0
['RAS KERNEL FATAL Microloader Assertion' 990]
 1125326942 2005.08.29 R51-M1-N9-C:J14-U11 2005-08-29-07.49.02.452474 R51-M1-N9-C:J14-U11 RAS KERNEL FATAL Microloader Assertion

0
['NC NC RAS APP FATAL ciod Error reading message prefix after LOAD MESSAGE on CioStream socket to Link has been severed'
 858]
 1124725219 2005.08.22 R43-M0-NC-I:J18-U01 2005-08-22-08.40.19.460750 R43-M0-NC-I:J18-U01 RAS APP FATAL ciod: Error reading message prefix after LOAD_MESSAGE on CioStream socket to 172.16.96.116:49320: Link has been severed

1
['RAS APP FATAL ciod Error creating node map from file home auselton bgl mapfiles bgl mps map Resource temporarily unavailable'
 768]
 1124132022 2005.08.15 R75-M0-N4-I:J18-U01 2005-08-15-11.53.42.023746 R75-M0-N4-I:J18-U01 RAS APP FATAL ciod: Error creating node map from file /home/auselton/bgl/mapfiles/bgl.128mps.f64.map: Resource temporarily unavailable

0
['RAS APP FATAL ciod Error creating node map from file home auselton bgl mps sequential mapfile Resource temporarily unavailable'
 768]
 1120591356 2005.07.05 R11-M1-N4-I:J18-U11 2005-07-05-12.22.36.350275 R11-M1-N4-I:J18-U11 RAS APP FATAL ciod: Error creating node map from file /home/auselton/bgl/64mps.sequential.mapfile: Resource temporarily unavailable

KeyboardInterrupt: ignored

In [ ]:
00

In [ ]:
features = {"stopping execution", "panic stopping", "ras app", "tlb error", "read message", "app fatal", "ras kernel", "fatal ciod", "ciod failed", "rts panic", "fatal data", "message prefix", "ciostream socket", "nc nc", "interrupt ras", "kernel fatal", "control stream", "fatal rts", "data tlb", "stream ciostream", "error interrupt"}

In [ ]:
ftr=set()
for i in features:
  for x in i.split(" "):
    ftr.add(x)

In [ ]:
ftr

In [ ]:
ctr=0
for i in ftr:
  df[i] = df['logf'].apply(lambda x:1 if i in x.lower() else 0)
  print((ctr+1)/len(ftr))
  ctr+=1

0.045454545454545456
0.09090909090909091
0.13636363636363635
0.18181818181818182
0.22727272727272727
0.2727272727272727
0.3181818181818182
0.36363636363636365
0.4090909090909091
0.45454545454545453
0.5
0.5454545454545454
0.5909090909090909
0.6363636363636364
0.6818181818181818
0.7272727272727273
0.7727272727272727
0.8181818181818182
0.8636363636363636
0.9090909090909091
0.9545454545454546
1.0

In [ ]:
df

NameError: ignored

In [ ]:
X = df[df.columns[3:]]
y = df['ans'].apply(lambda x:1 if (x=='normal') else 0)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)

In [ ]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

In [ ]:
y_pred = clf.predict(X)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     69692
           1       1.00      1.00      1.00   4082967

    accuracy                           1.00   4152659
   macro avg       1.00      1.00      1.00   4152659
weighted avg       1.00      1.00      1.00   4152659

In [ ]:
df_test = pd.read_csv("/content/convolve-epoch1/convolve-epoch1/test.csv")

In [ ]:
df_test['logf'] = df_test[' Log'].apply(lambda x:' '.join([x for x in re.sub('[^a-zA-Z]+', ' ', x).split(' ') if len(x)>1]))

In [ ]:
ctr=0
for i in ftr:
  df_test[i] = df_test['logf'].apply(lambda x:1 if i in x else 0)
  print((ctr+1)/len(ftr))
  ctr+=1

0.045454545454545456
0.09090909090909091
0.13636363636363635
0.18181818181818182
0.22727272727272727
0.2727272727272727
0.3181818181818182
0.36363636363636365
0.4090909090909091
0.45454545454545453
0.5
0.5454545454545454
0.5909090909090909
0.6363636363636364
0.6818181818181818
0.7272727272727273
0.7727272727272727
0.8181818181818182
0.8636363636363636
0.9090909090909091
0.9545454545454546
1.0

In [ ]:
df['test']

In [ ]:
df_test['enc'] = df['socket']+df['control']

In [ ]:
ans_pred = clf.predict(df_test[df_test.columns[3:]])

In [ ]:
df_ans = pd.DataFrame(data = df_test['ID'])

In [ ]:
df_ans[' Label'] = pd.Series(ans_pred).apply(lambda x:"normal" if x==1 else "abnormal")

In [ ]:
from copy import copy
df_tmp = copy(df_test)
df_tmp[' Label'] = pd.Series(ans_pred).apply(lambda x:"normal" if x==1 else "abnormal")

In [ ]:
df_tmp[df_tmp[' Label'] == 'abnormal']['logf'].sample(5)

499406        RAS KERNEL FATAL rts panic stopping execution
15543             RAS KERNEL FATAL data TLB error interrupt
537324            RAS KERNEL FATAL data TLB error interrupt
200672    NC NC RAS APP FATAL ciod failed to read messag...
46224             RAS KERNEL FATAL data TLB error interrupt
Name: logf, dtype: object

In [ ]:
df_ans.to_csv('./ans.csv', index=False)

In [ ]:
pd.set_option('max_colwidth', 400)
df_test['logf'].value_counts()[:10]

RAS KERNEL FATAL data TLB error interrupt                   152540
RAS KERNEL INFO generating core                             117649
RAS KERNEL FATAL data storage interrupt                      39680
RAS KERNEL FATAL instruction address ed                      28245
RAS KERNEL INFO instruction cache parity error corrected     22617
RAS KERNEL FATAL Lustre mount FAILED bglio point gb          16453
NB NB RAS KERNEL INFO generating core                        12286
NA NA RAS KERNEL INFO generating core                        12156
ND ND RAS KERNEL INFO generating core                        11946
NC NC RAS KERNEL INFO generating core                        11827
Name: logf, dtype: int64

In [ ]:
df_tmp[df_tmp[' Label']=='normal'][' Log'][364015]

' 1118768143 2005.06.14 R24-M0-NB-C:J14-U11 2005-06-14-09.55.43.369485 R24-M0-NB-C:J14-U11 RAS KERNEL FATAL data address: 0x00000002\n'

In [ ]:
k = df_test[list(ftr)[0]]==0
for i in [(df[i]==0)for i in ftr]:
  k = k&i

In [ ]:
df[k]

In [ ]:
df_ans.head()

   ID     Label
0   0  abnormal
1   1  abnormal
2   2  abnormal
3   3    normal
4   4  abnormal

In [ ]:
df_ans = dft.drop([' Log', 'logf'], axis=1)

In [ ]:
df_ans.columns = ['ID', ' Label']

In [ ]:
df_ans.to_csv('./ans.csv', index=False)