In [ ]:
!pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2022.9.24)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (7.0.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [ ]:
import opendatasets as od

In [ ]:
od.download('https://www.kaggle.com/competitions/convolve-epoch1/')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: sm745052
Your Kaggle Key: ··········
Downloading convolve-epoch1.zip to ./convolve-epoch1

100%|██████████| 65.9M/65.9M [00:00<00:00, 121MB/s]

Extracting archive ./convolve-epoch1/convolve-epoch1.zip to ./convolve-epoch1

In [ ]:
# !cp -r /content/drive/MyDrive/ciscodata /content/convolve-epoch1

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_test = pd.read_csv('/content/convolve-epoch1/convolve-epoch1/test.csv')

In [ ]:
df_test.head(5)[' Log'][0]

' 1124336301 2005.08.17 R13-M1-N8-C:J12-U01 2005-08-17-20.38.21.466368 R13-M1-N8-C:J12-U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001\n'

In [ ]:

# Python program to read
# json file
  
  
import json
  
# Opening JSON file
f = open('/content/convolve-epoch1/convolve-epoch1/train.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)

# Closing file
f.close()

In [ ]:
df = pd.DataFrame({'count': data})

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df.columns = ['log', 'ans']

In [ ]:
df['log'][:10000].apply(lambda x:x.split(' '))[10000-1]

['',
 '1117845126',
 '2005.06.03',
 'R20-M0-N5-C:J07-U11',
 '2005-06-03-17.32.06.578148',
 'R20-M0-N5-C:J07-U11',
 'RAS',
 'KERNEL',
 'INFO',
 'generating',
 'core.3514\n']

In [ ]:
len(df)

4152659

In [ ]:
df['log'][-10000:].apply(lambda x:x.split(' '))[4142660]

['1118543935',
 '2005.06.11',
 'R30-M0-N9-C:J16-U01',
 '2005-06-11-19.38.55.803915',
 'R30-M0-N9-C:J16-U01',
 'RAS',
 'KERNEL',
 'FATAL',
 'data',
 'TLB',
 'error',
 'interrupt']

In [ ]:
df['logi'] = df['log'].apply(lambda x:' '.join(x.strip().split(' ')[5:8]))

In [ ]:
df['logm'] = df['log'].apply(lambda x:' '.join(x.strip().split(' ')[8:]))

In [ ]:
df['logl'] = df['logm'].apply(lambda x:len(x.strip().split(' ')))

In [ ]:
df

                                                       log       ans
0         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
1         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
2         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
3         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
4         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
...                                                    ...       ...
4152654  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152655  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152656  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152657  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152658  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal

[4152659 rows x 2 columns]

In [ ]:
df['logi_1'] = df['logi'].apply(lambda x:x.split(' ')[0])
df['logi_2'] = df['logi'].apply(lambda x:x.split(' ')[1])
df['logi_3'] = df['logi'].apply(lambda x:x.split(' ')[2])

In [ ]:
df[df['logi']=='KERNEL FATAL Kill']['log'][660248]

' 1119415930 2005.06.21 - 2005-06-21-21.52.10.214285 RAS KERNEL FATAL Kill job 20251 timed out. Block freed.\n'

In [ ]:
df[df['log'].apply(lambda x: "Kill" in x)]

,log,ans,model,log1,logi
660248,1119415930 2005.06.21 - 2005-06-21-21.52.10.2...,normal,-,KERNEL,KERNEL FATAL Kill
673633,1119479882 2005.06.22 - 2005-06-22-15.38.02.6...,normal,-,KERNEL,KERNEL FATAL Kill
675691,1119480744 2005.06.22 - 2005-06-22-15.52.24.9...,normal,-,KERNEL,KERNEL FATAL Kill
729638,1119695751 2005.06.25 - 2005-06-25-03.35.51.2...,normal,-,KERNEL,KERNEL FATAL Kill
766663,1119716003 2005.06.25 - 2005-06-25-09.13.23.2...,normal,-,KERNEL,KERNEL FATAL Kill
...,...,...,...,...,...
3966416,1133009332 2005.11.26 - 2005-11-26-04.48.52.6...,normal,-,KERNEL,KERNEL FATAL Kill
3974865,1133204060 2005.11.28 - 2005-11-28-10.54.20.6...,normal,-,KERNEL,KERNEL FATAL Kill
3976789,1133300160 2005.11.29 - 2005-11-29-13.36.00.4...,normal,-,KERNEL,KERNEL FATAL Kill
3982022,1133317553 2005.11.29 - 2005-11-29-18.25.53.4...,normal,-,KERNEL,KERNEL FATAL Kill
3986168,1133363215 2005.11.30 - 2005-11-30-07.06.55.6...,normal,-,KERNEL,KERNEL FATAL Kill

In [ ]:
df['logi'].value_counts()

RAS KERNEL INFO               3412050
RAS KERNEL FATAL               402720
RAS APP FATAL                  146527
RAS MMCS ERROR                  88516
NULL DISCOVERY INFO             35022
NULL DISCOVERY ERROR            23359
NULL DISCOVERY WARNING          18615
NULL DISCOVERY SEVERE           17858
NULL HARDWARE WARNING            3595
NULL MONITOR FAILURE             1650
RAS LINKCARD INFO                 964
NULL HARDWARE SEVERE              873
RAS MMCS INFO                     346
KERNEL FATAL Kill                 276
NULL CMCS INFO                    178
RAS BGLMASTER INFO                 85
NULL MONITOR SEVERE                16
RAS BGLMASTER FAILURE               2
for a single                        2
interrupts, 0 microseconds          2
NULL SERV_NET WARNING               1
NULL SERV_NET ERROR                 1
NULL SERV_NET INFO                  1
Name: logi, dtype: int64

In [ ]:
df[(df['logi_3']=='FATAL') & (df['ans']=='normal')]

,log,ans,logl,logi,logm,logi_1,logi_2,logi_3
4987,1117840660 2005.06.03 R26-M0-N0-I:J18-U01 200...,normal,14,RAS APP FATAL,ciod: Error loading /p/gb2/stella/RAPTOR/65641...,RAS,APP,FATAL
4988,1117840660 2005.06.03 R26-M0-N0-I:J18-U11 200...,normal,14,RAS APP FATAL,ciod: Error loading /p/gb2/stella/RAPTOR/65641...,RAS,APP,FATAL
4989,1117840660 2005.06.03 R26-M0-N4-I:J18-U01 200...,normal,14,RAS APP FATAL,ciod: Error loading /p/gb2/stella/RAPTOR/65641...,RAS,APP,FATAL
4990,1117840660 2005.06.03 R26-M0-N4-I:J18-U11 200...,normal,14,RAS APP FATAL,ciod: Error loading /p/gb2/stella/RAPTOR/65641...,RAS,APP,FATAL
4991,1117840660 2005.06.03 R26-M0-N8-I:J18-U01 200...,normal,14,RAS APP FATAL,ciod: Error loading /p/gb2/stella/RAPTOR/65641...,RAS,APP,FATAL
...,...,...,...,...,...,...,...,...
3991551,1133409798 2005.11.30 R52-M1-N4-I:J18-U01 200...,normal,9,RAS APP FATAL,ciod: LOGIN chdir(/g/g0/spelce1/Linpack_SWL) f...,RAS,APP,FATAL
3991552,1133409798 2005.11.30 R65-M1-N4-I:J18-U11 200...,normal,9,RAS APP FATAL,ciod: LOGIN chdir(/g/g0/spelce1/Linpack_SWL) f...,RAS,APP,FATAL
3991553,1133409798 2005.11.30 R66-M0-N4-I:J18-U11 200...,normal,9,RAS APP FATAL,ciod: LOGIN chdir(/g/g0/spelce1/Linpack_SWL) f...,RAS,APP,FATAL
3991554,1133409813 2005.11.30 R24-M1-N8-I:J18-U11 200...,normal,9,RAS APP FATAL,ciod: LOGIN chdir(/g/g0/spelce1/Linpack_SWL) f...,RAS,APP,FATAL
3991555,1133409814 2005.11.30 R34-M0-N4-I:J18-U11 200...,normal,9,RAS APP FATAL,ciod: LOGIN chdir(/g/g0/spelce1/Linpack_SWL) f...,RAS,APP,FATAL

In [ ]:
df['logl'].value_counts()

2     1730010
4      942353
5      354059
7      230367
3      175540
13     122743
8      103094
6       69235
9       64586
11      53803
14      51480
24      44630
25      44467
1       36361
12      36255
10      30117
19      22299
69      16433
15      15670
16       6218
75        691
30        522
18        275
22        261
70        232
74        198
27        194
71        119
21        106
20         70
72         49
68         47
23         46
17         37
79         21
77         19
45          8
38          8
29          8
54          7
61          7
41          4
86          3
93          3
33          2
32          2
Name: logl, dtype: int64

In [ ]:
df['log'][0].strip().split(' ')

['1117838570',
 '2005.06.03',
 'R02-M1-N0-C:J12-U11',
 '2005-06-03-15.42.50.363779',
 'R02-M1-N0-C:J12-U11',
 'RAS',
 'KERNEL',
 'INFO',
 'instruction',
 'cache',
 'parity',
 'error',
 'corrected']

In [ ]:
df['log'][188785].strip().split(' ')

['1118241709',
 '2005.06.08',
 'R33-M1-ND',
 '2005-06-08-07.41.49.839299',
 'R33-M1-ND',
 'NULL',
 'HARDWARE',
 'WARNING',
 'PrepareForService',
 'is',
 'being',
 'done',
 'on',
 'this',
 'card(mLctn(R33-M1-ND),',
 'mCardSernum(203231503833343000000000594c31304b35303034303232),',
 'mLp(FF:F2:9F:16:BF:44:00:0D:60:E9:40:BB),',
 'mIp(10.3.0.80),',
 'mType(4))',
 'by',
 'root']

In [ ]:
df['model'] = df['log'].apply(lambda x:x.strip().split(' ')[2])

In [ ]:
df['model'].value_counts()

NULL                   88949
R30-M0-N9-C:J16-U01    67058
R02-M1-N0-C:J12-U11    64630
UNKNOWN_LOCATION       26610
R16-M1-N2-C:J17-U01    16915
                       ...
R41-M1-L0                  1
R44-M0-L1                  1
R41-M1-L1                  1
R46-M0-L2                  1
R34-M0                     1
Name: model, Length: 69235, dtype: int64

In [ ]:
df['logi'] = df['log'].apply(lambda x:' '.join(x.strip().split(' ')[5:5+3]))

In [ ]:
df[df['ans']=='abnormal']['logi'].value_counts()

RAS KERNEL FATAL    67528
RAS APP FATAL        2164
Name: logi, dtype: int64

In [ ]:
df[(df['logi']=='RAS APP FATAL') & (df['ans']=='abnormal')]['log'][4082967]

'1117869872 2005.06.04 R04-M1-N4-I:J18-U01 2005-06-04-00.24.32.481570 R04-M1-N4-I:J18-U01 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStream socket to 172.16.96.116:33570'

In [ ]:
df[(df['logi']=='RAS APP FATAL') & (df['ans']=='abnormal')]['log'][4084735]

'1117886172 2005.06.04 R32-M0-N8-I:J18-U11 2005-06-04-04.56.12.501511 R32-M0-N8-I:J18-U11 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStream socket to 172.16.96.116:36637'

In [ ]:
df[(df['logi']=='RAS APP FATAL') & (df['ans']=='abnormal')]['log'][4085735]

'1118287283 2005.06.08 R35-M1-NC-I:J18-U11 2005-06-08-20.21.23.605805 R35-M1-NC-I:J18-U11 RAS APP FATAL ciod: failed to read message prefix on control stream (CioStream socket to 172.16.96.116:38004'

In [ ]:
df[(df['logi']=='RAS APP FATAL') & (df['ans']=='normal')]['log'][4987]

' 1117840660 2005.06.03 R26-M0-N0-I:J18-U01 2005-06-03-16.17.40.425081 R26-M0-N0-I:J18-U01 RAS APP FATAL ciod: Error loading /p/gb2/stella/RAPTOR/65641/raptor: invalid or missing program image, No such file or directory\n'

In [ ]:
df[(df['logi']=='RAS APP FATAL') & (df['ans']=='normal')]['log'][3991555]

' 1133409814 2005.11.30 R34-M0-N4-I:J18-U11 2005-11-30-20.03.34.172003 R34-M0-N4-I:J18-U11 RAS APP FATAL ciod: LOGIN chdir(/g/g0/spelce1/Linpack_SWL) failed: No such file or directory\n'

In [ ]:
df[(df['logi']=='RAS KERNEL FATAL') & (df['ans']=='abnormal')]['log'][4152658]

'1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.937080 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt'

In [ ]:
df[(df['logi']=='RAS KERNEL FATAL') & (df['ans']=='normal')]['log'][27463]

' 1117957787 2005.06.05 R21-M1-N8-C:J10-U01 2005-06-05-00.49.47.926325 R21-M1-N8-C:J10-U01 RAS KERNEL FATAL instruction address: 0x0000df30\n'

In [ ]:
def f(x):
  if "RAS KERNEL FATAL" in x or "RAS APP FATAL" in x:
    if "terminat" in x or "interrup" in x:
      return 0
  return 1

In [ ]:
df['log'].apply(f).value_counts()

1    3998718
0     153941
Name: log, dtype: int64

In [ ]:
df['ans'].value_counts()

normal      4082967
abnormal      69692
Name: ans, dtype: int64

In [ ]:
df_test[' Label'] = df_test[' Log'].apply(f).apply(lambda x:"normal" if x==1 else "abnormal")

In [ ]:
df_ans = df_test.drop([' Log', 'ans'], axis = 1)

In [ ]:
df_test

,ID,Log,ans,Label,Label
0,0,1124336301 2005.08.17 R13-M1-N8-C:J12-U01 200...,0,abnormal,abnormal
1,1,1118553175 2005.06.11 R30-M0-N9-C:J16-U01 200...,0,abnormal,abnormal
2,2,1118536033 2005.06.11 R30-M0-N9-C:J16-U01 200...,0,abnormal,abnormal
3,3,1117992566 2005.06.05 R30-M1-N6-C:J03-U11 200...,1,normal,normal
4,4,1118538965 2005.06.11 R30-M0-N9-C:J16-U01 200...,0,abnormal,abnormal
...,...,...,...,...,...
595295,595295,1118768234 2005.06.14 R20-M0-NA-C:J17-U11 200...,1,normal,normal
595296,595296,1118370947 2005.06.09 R15-M0-NA-C:J02-U01 200...,1,normal,normal
595297,595297,1118540242 2005.06.11 R30-M0-N9-C:J16-U01 200...,0,abnormal,abnormal
595298,595298,1118538947 2005.06.11 R30-M0-N9-C:J16-U01 200...,0,abnormal,abnormal
595299,595299,1118165805 2005.06.07 R23-M1-N5-C:J16-U11 200...,1,normal,normal

In [ ]:
pd.read_csv('/content/convolve-epoch1/convolve-epoch1/sample_submission.csv')[' Label'].value_counts()

normal    595300
Name:  Label, dtype: int64

In [ ]:
df_ans

            ID     Label     Label
0            0  abnormal  abnormal
1            1  abnormal  abnormal
2            2  abnormal  abnormal
3            3    normal    normal
4            4  abnormal  abnormal
...        ...       ...       ...
595295  595295    normal    normal
595296  595296    normal    normal
595297  595297  abnormal  abnormal
595298  595298  abnormal  abnormal
595299  595299    normal    normal

[595300 rows x 3 columns]

In [ ]:
df_ans.drop(['Label'], axis = 1,inplace=True)

In [ ]:
df_ans.to_csv('./ans.csv', index=False)

In [ ]:
pd.read_csv('./ans.csv')

            ID     Label
0            0  abnormal
1            1  abnormal
2            2  abnormal
3            3    normal
4            4  abnormal
...        ...       ...
595295  595295    normal
595296  595296    normal
595297  595297  abnormal
595298  595298  abnormal
595299  595299    normal

[595300 rows x 2 columns]

In [ ]:
!pip install sentence_transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sentence_transformers
  Downloading sentence-transformers-2.2.2.tar.gz (85 kB)
     |████████████████████████████████| 85 kB 4.8 MB/s
Collecting transformers<5.0.0,>=4.6.0
  Downloading transformers-4.25.1-py3-none-any.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 75.6 MB/s
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (4.64.1)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (1.13.0+cu116)
Requirement already satisfied: torchvision in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (0.14.0+cu116)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (1.21.6)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (1.7.3)
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (3.7)
Collecting sentencepiece
  Downloading sentencepiece-0.1.97-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 53.4 MB/s
Collecting huggingface-hub>=0.4.0
  Downloading huggingface_hub-0.11.1-py3-none-any.whl (182 kB)
     |████████████████████████████████| 182 kB 77.3 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (2.23.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (4.4.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (6.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (21.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.9->huggingface-hub>=0.4.0->sentence_transformers) (3.0.9)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.6 MB)
     |████████████████████████████████| 7.6 MB 60.1 MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk->sentence_transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk->sentence_transformers) (1.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (3.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->sentence_transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.8/dist-packages (from torchvision->sentence_transformers) (7.1.2)
Building wheels for collected packages: sentence-transformers
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-2.2.2-py3-none-any.whl size=125938 sha256=4793bc8c1b03a8c6cf1a0a50c0647a8858b7e95b87ee0e6a85ffb33ee47a238d
  Stored in directory: /root/.cache/pip/wheels/5e/6f/8c/d88aec621f3f542d26fac0342bef5e693335d125f4e54aeffe
Successfully built sentence-transformers
Installing collected packages: tokenizers, huggingface-hub, transformers, sentencepiece, sentence-transformers
Successfully installed huggingface-hub-0.11.1 sentence-transformers-2.2.2 sentencepiece-0.1.97 tokenizers-0.13.2 transformers-4.25.1

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train = df[df['ans']=='abnormal']['log']

In [ ]:
y_train = df[df['ans']=='abnormal']['ans']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df['log'], df['ans'], test_size = 0.99)

In [ ]:
X_train

4082967    1117869872 2005.06.04 R04-M1-N4-I:J18-U01 2005...
4082968    1117869872 2005.06.04 R04-M1-N4-I:J18-U11 2005...
4082969    1117869872 2005.06.04 R23-M1-N8-I:J18-U11 2005...
4082970    1117869873 2005.06.04 R22-M1-N8-I:J18-U01 2005...
4082971    1117869873 2005.06.04 R22-M1-N8-I:J18-U11 2005...
                                 ...
4152654    1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...
4152655    1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...
4152656    1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...
4152657    1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...
4152658    1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...
Name: log, Length: 69692, dtype: object

In [ ]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('all-MiniLM-L6-v2', device="cuda")

In [ ]:
embeddings = model.encode(np.array(df_test[' Log']), show_progress_bar=True)

Batches:   0%|          | 0/18604 [00:00<?, ?it/s]

In [ ]:
embeddings.shape

(41526, 384)

In [ ]:
y_t = np.array(y_train.apply(lambda x:1 if x=='normal' else 0))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=2 )  
classifier.fit(embeddings, y_t)

KNeighborsClassifier(n_neighbors=2)

In [ ]:
yprd = classifier.predict(embeddings)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_t, yprd))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     69692
           1       0.00      0.00      0.00         0

    accuracy                           1.00     69692
   macro avg       0.50      0.50      0.50     69692
weighted avg       1.00      1.00      1.00     69692

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
np.array(X_train)

array([' 1122430726 2005.07.26 R31-M1-N9-C:J02-U01 2005-07-26-19.18.46.933335 R31-M1-N9-C:J02-U01 RAS KERNEL INFO generating core.56339\n',
       ' 1133448255 2005.12.01 R70-M1-N9-C:J16-U01 2005-12-01-06.44.15.870240 R70-M1-N9-C:J16-U01 RAS KERNEL INFO 10636 total interrupts. 0 critical input interrupts. 0 microseconds total spent on critical input interrupts, 0 microseconds max time in a critical input interrupt.\n',
       ' 1120917428 2005.07.09 R15-M1-NA-C:J09-U11 2005-07-09-06.57.08.821159 R15-M1-NA-C:J09-U11 RAS KERNEL INFO generating core.11358\n',
       ...,
       ' 1120267031 2005.07.01 R26-M0-N8-C:J10-U11 2005-07-01-18.17.11.104481 R26-M0-N8-C:J10-U11 RAS KERNEL INFO 1049200 double-hummer alignment exceptions\n',
       ' 1122143253 2005.07.23 R12-M0-N4-C:J15-U11 2005-07-23-11.27.33.216558 R12-M0-N4-C:J15-U11 RAS KERNEL INFO generating core.7164\n',
       ' 1120917394 2005.07.09 R11-M1-N8-C:J05-U01 2005-07-09-06.56.34.638188 R11-M1-N8-C:J05-U01 RAS KERNEL INFO generating core.11799\n'],
      dtype=object)

In [ ]:
yprd

array([1, 0, 0, ..., 0, 0, 1])

In [ ]:
df_test[' Label'] = yprd

In [ ]:
df_ans = df_test.drop([' Log'], axis=1)

In [ ]:
df_ans[' Label'] = df_ans[' Label'].apply(lambda x:"normal" if x==1 else "abnormal")

In [ ]:
df_ans.to_csv('./ans.csv', index=False)

In [ ]:
df_ans[' Label'].value_counts()

normal      424762
abnormal    170538
Name:  Label, dtype: int64

In [ ]:
pd.read_csv('./ans.csv')

            ID     Label
0            0    normal
1            1  abnormal
2            2  abnormal
3            3    normal
4            4  abnormal
...        ...       ...
595295  595295    normal
595296  595296    normal
595297  595297  abnormal
595298  595298  abnormal
595299  595299    normal

[595300 rows x 2 columns]

In [ ]:
pd.read_csv('/content/convolve-epoch1/convolve-epoch1/sample_submission.csv')

            ID   Label
0            0  normal
1            1  normal
2            2  normal
3            3  normal
4            4  normal
...        ...     ...
595295  595295  normal
595296  595296  normal
595297  595297  normal
595298  595298  normal
595299  595299  normal

[595300 rows x 2 columns]

In [ ]:
df_test = pd.read_csv('/content/convolve-epoch1/convolve-epoch1/test.csv')

In [ ]:
df_test[' Log'][275908]

' 1118540498 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.41.38.564764 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt\n'

In [ ]:
df_test[df_test[' Log'].apply(lambda x:"parity error" in x)][' Log'][11]

' 1118079424 2005.06.06 R02-M1-N0-C:J12-U11 2005-06-06-10.37.04.740923 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n'

In [ ]:
df_test[' Log'][476962]

' 1118536724 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.38.44.523567 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt\n'

In [ ]:
df[df['log'].apply(lambda x:"exception syndrome register" in x)]

,log,ans
280671,1118767111 2005.06.14 R25-M0-N3-C:J03-U01 2005-06-14-09.38.31.529366 R25-M0-N3-C:J03-U01 RAS KERNEL FATAL exception syndrome register: 0x00800000\n,normal
280672,1118767111 2005.06.14 R25-M0-N3-C:J03-U11 2005-06-14-09.38.31.573153 R25-M0-N3-C:J03-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000\n,normal
280673,1118767111 2005.06.14 R25-M0-N3-C:J05-U01 2005-06-14-09.38.31.507801 R25-M0-N3-C:J05-U01 RAS KERNEL FATAL exception syndrome register: 0x00800000\n,normal
280674,1118767111 2005.06.14 R25-M0-N3-C:J05-U11 2005-06-14-09.38.31.550867 R25-M0-N3-C:J05-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000\n,normal
280675,1118767111 2005.06.14 R25-M0-N3-C:J06-U11 2005-06-14-09.38.31.844404 R25-M0-N3-C:J06-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000\n,normal
...,...,...
3351390,1130212702 2005.10.24 R02-M0-N6-C:J16-U01 2005-10-24-20.58.22.667457 R02-M0-N6-C:J16-U01 RAS KERNEL FATAL exception syndrome register: 0x08000000\n,normal
3357477,1130376973 2005.10.26 R42-M1-N3-C:J17-U11 2005-10-26-18.36.13.715109 R42-M1-N3-C:J17-U11 RAS KERNEL FATAL exception syndrome register: 0x08000000\n,normal
3813783,1131525612 2005.11.09 R62-M0-N4-C:J13-U01 2005-11-09-00.40.12.054901 R62-M0-N4-C:J13-U01 RAS KERNEL FATAL exception syndrome register: 0x00800000\n,normal
3906618,1132293338 2005.11.17 R62-M0-N4-C:J13-U01 2005-11-17-21.55.38.811425 R62-M0-N4-C:J13-U01 RAS KERNEL FATAL exception syndrome register: 0x00800000\n,normal
3920796,1132551089 2005.11.20 R52-M0-N2-C:J13-U11 2005-11-20-21.31.29.149712 R52-M0-N2-C:J13-U11 RAS KERNEL FATAL exception syndrome register: 0x02000000\n,normal

In [ ]:
df_ans

            ID     Label
0            0    normal
1            1  abnormal
2            2  abnormal
3            3    normal
4            4  abnormal
...        ...       ...
595295  595295    normal
595296  595296    normal
595297  595297  abnormal
595298  595298  abnormal
595299  595299    normal

[595300 rows x 2 columns]

In [ ]:
pd.read_csv('/content/convolve-epoch1/convolve-epoch1/sample_submission.csv')

            ID   Label
0            0  normal
1            1  normal
2            2  normal
3            3  normal
4            4  normal
...        ...     ...
595295  595295  normal
595296  595296  normal
595297  595297  normal
595298  595298  normal
595299  595299  normal

[595300 rows x 2 columns]

In [ ]:
pd.set_option('max_colwidth', 400)
df_test

,ID,Log
0,0,1124336301 2005.08.17 R13-M1-N8-C:J12-U01 2005-08-17-20.38.21.466368 R13-M1-N8-C:J12-U01 RAS KERNEL FATAL rts: kernel terminated for reason 1001\n
1,1,1118553175 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-22.12.55.707149 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt\n
2,2,1118536033 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.27.13.042387 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt\n
3,3,1117992566 2005.06.05 R30-M1-N6-C:J03-U11 2005-06-05-10.29.26.943462 R30-M1-N6-C:J03-U11 RAS KERNEL INFO generating core.6463\n
4,4,1118538965 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.16.05.049256 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt\n
...,...,...
595295,595295,1118768234 2005.06.14 R20-M0-NA-C:J17-U11 2005-06-14-09.57.14.709136 R20-M0-NA-C:J17-U11 RAS KERNEL FATAL exception syndrome register: 0x00800000\n
595296,595296,1118370947 2005.06.09 R15-M0-NA-C:J02-U01 2005-06-09-19.35.47.353971 R15-M0-NA-C:J02-U01 RAS KERNEL INFO generating core.10895\n
595297,595297,1118540242 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.37.22.743936 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt\n
595298,595298,1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt\n
595299,595299,1118165805 2005.06.07 R23-M1-N5-C:J16-U11 2005-06-07-10.36.45.002573 R23-M1-N5-C:J16-U11 RAS KERNEL INFO generating core.680\n

In [ ]:
df[df['log'].a]